<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @school.name %>
</p>

<p>
  <b>Short name:</b>
  <%= @school.short_name %>
</p>

<p>
  <b>School url:</b>
  <%= @school.school_url %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
